@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="application-name" content="Scotland's Mountains">
    <meta name="description" content="Maps and information about Scotland's Mountains">
    <meta name="keywords" content="Scotland's Mountains, maps, Munros, Corbetts, Grahams, Scotland, mountains, hills, hillwalking, scrambling, walking, munro bagging">
    <meta name="author" content="Graham Miller">
    <title>Scotland's Mountains</title>
    @Html.Partial("_Styles")
    @*<link rel="shortcut icon" href="@Url.Content("~/Images/favicon.ico")">
    <link rel="apple-touch-icon" href="@Url.Content("~/Images/apple-touch-icon.png")">
    <link rel="apple-touch-icon" sizes="72x72" href="@Url.Content("~/Images/apple-touch-icon-72x72.png")">
    <link rel="apple-touch-icon" sizes="114x114" href="@Url.Content("~/Images/apple-touch-icon-114x114.png")">*@
</head>
    <body>
        @Html.Partial("_Header")
        <div id="map"></div>
        <div id="loading">
            <h1>Scotland&apos;s Mountains</h1>
            <h2><i class="fa fa-spinner fa-spin"></i> Preparing map</h2>
        </div>
        <div id="dialog"></div>
        @Html.Partial("_Scripts")
    </body>
</html>
